################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSharpTutorial/CSharpTutorial/obj/Debug
/WebApplication1/WebApplication1/obj/Debug
/Tutorial/ASM/64bitASM/.vs/64bitASM/v16/Browse.VC.opendb
