################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSharpTutorial/CSharpTutorial/obj/Debug
/WebApplication1/WebApplication1/obj/Debug
/Tutorial/ASM/64bitASM/.vs/64bitASM/v16/Browse.VC.opendb
T/S/.vs/S/v17/Browse.VC.opendb
T/S/.vs/S/v17/.suo
.gitignore
/Python/PythonTutorial/.vs/PythonTutorial
