<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Positioning test</title>
</head>
<body>

<div id="div-3" style="position:relative; background-color:green;top:0px">This is Div-3, a simple division block. 160 px south as previous two block's heights are that</div>
<div id="div-1" style="background-color:orangered; height:100px; width:100px; margin-left=0px">This is Div-1, a simple division block. This is the topmost one</div>
<div id="div-3" style="position:relative; background-color:green;top:0px">This is Div-3, a simple division block. 160 px south as previous two block's heights are twat</div>

<div id="div-2" style="position: relative; left:0px; top:0px;background-color:grey;width:600px;height:60px">

    <div id="div-2a" style="float:left;background-color:blue; width:200px">This is Div-2a, a simple division block which is the child div of Div-2 123 123 123 123</div>
    <div id="div-2b" style="float:left; background-color:white; width:200px;margin-left:20px">This is Div-2b, a simple division block which is the child div of Div-2.</div>
    <div id="div-2c" style="position:fixed; right:20px; top:10px;width:200px;background-color:yellow">This is Div-2c, a simple division block which is the child div of Div-2. This text should be long enough to see something</div>
    <div id="div-2d" style="position:absolute; right:5px; top:5px;width:40px;height:50px;background-color:lightblue;">This is Div-2d 123 123</div>
    <div id="div-2e" style="position:relative; clear:both; background-color:green;top:0px">Div-2e Clear both otherwise starts after Div-2b</div>
</div>

<div id="div-3" style="position:absolute; background-color:green;top:0px; left:0px">Absolute Default margine is 8px</div>

<div id="div-clear" style="clear:both">
    Original layout:
</div>


</body>
</html>